@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

h1 {
  font-family: "Josefin Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

//https://colorwise.io/211780/levelsfyi-salary-calculator

:root {
  --mainPink: #ffa69eff;
  --mainYellowish: #fcedaa;
  --mainGreen: #b8f2e6ff;
  --mainBlue: #aed9e0ff;
  --mainDarkerGrey: #313131;
  --mainWhite: #ffffffea;
  --mainOffWhite: #faf6d8;
  --mainDark: #010101;
  --mainGrey: #38444c;
  --mainDarkRed: #7e1806;
}

body {
  background: var(--mainDarkRed);
  color: var(--mainWhite);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  overflow: none;
}

.wrapper {
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.5);
  overflow: none;
}

.default-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255.255.255.0.5)); */
  background-size: cover;
}

.btn-grey {
  border-color: var(--mainGrey);
  color: var(--mainGrey);
}

.btn-grey:hover {
  background: var(--mainGrey);
  color: var(--mainWhite);
  transition: ease-in 0.5s;
}
.btn-yellowish {
  border-color: var(--mainYellowish);
  color: var(--mainYellowish);
}

.btn-yellowish:hover {
  background: var(--mainGrey);
  color: var(--mainWhite);
  transition: ease-in 0.5s;
}
.btn-whiteish {
  border-color: var(--mainOffWhite);
  color: var(--mainOffWhite);
}

.btn-whiteish:hover {
  background: var(--mainGrey);
  color: var(--mainWhite);
  transition: ease-in 0.5s;
}

.footer {
  margin: 1em 0;
  background: var(--mainDarkRed);
  color: var(--mainWhite);
  a {
    color: var(--mainWhite);
  }
}

.menu {
  min-height: 100vh;
}

.contact {
  min-height: 100vh;
}

/* Bootstrap Override*/

.prd-item {
  display: flex;
  align-items: center;
}

.prd-item-shop {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.infoBlock {
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 2rem 0;
}

ul,
li {
  margin: 0;
  list-style: none;
}

.col-wrapper {
  max-width: 980px;
}

.two-col-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
}

.prd-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
}

.prd-img {
  margin: 10px;
  // picture {
  //   width:200px;
  // }
}

/* Animations */

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* Contact Page */

.contact-address {
  display: flex;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  ul {
    margin: 0 0.5em;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 1.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
